<form action="/robots" method="post">
  <p>Add a new robot to the team:</p>
  <input type='text' name='robot[name]' placeholder='Name'/><br>
  <input type='text' name='robot[city]' placeholder='City'/><br>
  <input type='text' name='robot[state]' placeholder='State'/><br>
  <input type='text' name='robot[birthdate]' placeholder='Birthdate'/><br>
  <input type='text' name='robot[date_hired]' placeholder='Date Hired'/><br>
  <input type='text' name='robot[department]' placeholder='Department'/><br>
  <input type='text' name='robot[avatar]' placeholder='Avatar'/><br>
  <input type='submit'/>
</form>
