<form action="/robots" method="post">
  <p>Add a new robot to the team:</p>
  <input id="name" type='text' name='robot[name]' placeholder='Name'/><br>
  <input id="city" type='text' name='robot[city]' placeholder='City'/><br>
  <input id="state" type='text' name='robot[state]' placeholder='State'/><br>
  <input id="birthdate" type='date' name='robot[birthdate]' placeholder='Birthdate'/><br>
  <input id="date_hired" type='date' name='robot[date_hired]' placeholder='Date Hired'/><br>
  <input id="department" type='text' name='robot[department]' placeholder='Department'/><br>
  <input type='submit' value='Create Bot'/>
</form>
